.cssFormLogin {
	color: orange;
	font-size: 25px;
}

.cssBtnLogin {
	color: fuchsia;
	font-size: 20px;
}

.cssDivHello {
	color: green;
	font-size: 30px;
}

.cssError {
	color: red;
	font-size: 12px;
}